.App {
  text-align: center;
}
.App {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh; /* This is optional; it centers the content vertically in the viewport */
}

* {
  /* border: 1px solid red; */
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logowithname {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.title {
  font-size: 24px;
  font-weight: 600;
  /* width: 80%; */
  color: #4BC2F1;
  text-align: left;
  width: 50%;
}

.logo {
  margin-left: 40px;
  width: 40%;
}

.text {
  color: #195972;
  margin-top: 5%;
  font-size: 24px;
  font-weight: 600;
}

.input {

  width: calc(30% + 60px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 5%;

}

.button {

  width: 30%;
  background-color: #4BC2F1;
  padding: 10px 40px 10px 40px;
  color: white;
  border-radius: 5px;
  
  font-size: 18px;
  font-weight: 600;
  
  
}

.button:hover {
  background-color: #3292b8;
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 480px) {
  .container {
    /* padding-top: 30%; */
    /* padding-top: 10%; */
    width: 100%;
  }
  .title {
    font-size: 14px;
    width: 50%;
  }

  .logo {
    margin-left: 40px;
    width: 30%;
  }

  .input {
    width: 70%;
  }
  .button {
    width: 53%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
